:root {
    --white:#FFFFFF;
    --black:#000000;
    --primary-red:#BD3A5A;
    --off-white:#F8FAFC;
    --secondary-blue:#005A8F;
    --tertiary-navy:#002439;
    --hover-red:#84283F;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}


body {
    background-color: var(--off-white);
    font-size: 1.125rem;
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--secondary-blue);
}

header,
section {
    background-color: var(--white);
}