:root {
    --white:#FFFFFF;
    --black:#000000;
    --primary-red:#BD3A5A;
    --off-white:#F8FAFC;
    --secondary-blue:#005A8F;
    --tertiary-navy:#002439;
    --hover-red:#84283F;
} 

.inner-container {
    margin: 0 auto;
    max-width: 1310px;
}

.flex-container {
    display: flex;
    gap: 2.125rem;
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
    max-width: 18.875rem;
    margin-bottom: 1.6875rem;
}

.flex-container ul {
    gap: 0;
    padding: 0;
    column-gap: 1.875rem;
}

ul a:hover {
    text-decoration: underline #BD3A5A .125rem;
}

header {
    background-color: var(--white);
}

header a {
    text-decoration: none;
}

.navigation>a {
    background-color: var(--primary-red);
    padding: .75rem 1rem;
    color: var(--off-white);
}

.navigation>a:hover {
    background-color: var(--hover-red);
}

body {
    background-color: var(--off-white);
    font-size: 1.125rem;
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    justify-content: space-between;
    align-items: center;
    padding: .625rem 0;
    font-size: 1.25rem;
}

.img-container {
    flex-basis: 1 1 7.5%;
}

.banner {
    background-color: var(--secondary-blue);
    justify-content: center;
    flex-shrink: 1;
    align-items: center;
    padding: 5.0625rem 0;
    margin-bottom: 5.0625rem;
    color: var(--off-white)
}

.banner p {
    font-size: 2.25rem;
    max-width: 60.875rem;
}

.banner a {
    border: 1px solid #F8FAFC;
    padding: .75rem 1rem;
    text-decoration: none;
}

.banner a:hover {
    color: var(--secondary-blue);
    background-color: var(--off-white);
}

.information section {
    background-color: var(--white);
    padding: 1.6875rem;
    margin-bottom: 3.375rem;
}
